/** @format */

/* ### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%) */

:root {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

.darkTheme {
  --very-light-gray: hsl(235, 21%, 11%);
  --very-light-grayish-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

.App {
  text-align: center;
  background-color: var(--very-light-grayish-blue);
  height: 100vh;
}

h1 {
  margin: 0;
  text-align: left;
  color: white;
}

form input,
.each-todo {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
}

.bottom-half div {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  margin-top: 200px;
}

.bottom-section p.active {
  color: hsl(220, 98%, 61%);
}

.bottom-section p.fw-700 {
  font-weight: 700;
}

.each-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-light-gray);
}

.each-todo > p:nth-of-type(1) {
  flex: 2;
  text-align: left;
  margin: 0;
}

.top-half {
  background-image: url(./assets/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.bgDarkTheme {
  background-image: url(./assets/images/bg-mobile-dark.jpg);
}

@media (min-width: 768px) {
  .top-half {
    background-image: url(./assets/images/bg-desktop-light.jpg);
  }

  .bgDarkTheme {
    background-image: url(./assets/images/bg-desktop-dark.jpg);
  }
}

.todo-input {
  width: 90%;
  border: none;
  outline: none;
}

form,
.bottom-half {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.input-div {
  background-color: var(--very-light-gray);
  border-radius: 3px;
  padding: 5px 0;
}

.bottom-half {
  position: relative;
  bottom: 30px;
}

.bottom-section > p {
  cursor: pointer;
}

.each-todo p {
  color: var(--very-dark-grayish-blue);
}

.each-todo p.todo-active {
  text-decoration: line-through;
  color: var(--very-light-grayish-blue);
}
.todo-input {
  color: var(--very-dark-grayish-blue);
}

.todo-input.todo-active {
  text-decoration: line-through;
  color: var(--very-light-grayish-blue);
}

.close-btn {
  cursor: pointer;
}

img {
  transition: 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}
